@(customer: models.users.Customer)


@import play.api.Play.current
@import models.shopping._
@import models.products._

<!-- Pass page title and user on to main -->
@main("order", customer) {

  

  <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      <thead>
        <tr>
          <th>Image</th> 
          <th>ID</th> 
          <th>Quantity</th>  
          <th>Price</th> 
          <th>Total</th> 
        </tr>
      </thead>

      <tbody>

        @for(i <- customer.getBasket().getBasketItems()) {
          <tr>
              <td>@i.getProduct.getName</td>
              <td>@i.getProduct.getDescription()</td>
              <td>&euro; @("%.2f".format(i.getPrice))</td>
              <td>&euro; @("%.2f".format(i.getItemTotal))</td>
              <td>@i.getQuantity()</td>
              <td><a href="@routes.ShoppingCtrl.removeOne(i.getId)"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
              <td><a href="@routes.ShoppingCtrl.addOne(i.getId,i.getProduct.getId())"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
          </tr>
          }<!-- End of For loop -->
    
</tbody>
</table>
<div class="row">
  <div class="col-md-12">
      <p class="text-right"><strong>Basket Total: &euro; @("%.2f".format(customer.getBasket.getBasketTotal))</strong></p>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
      <p class="text-right">
          <a href="@routes.ShoppingCtrl.emptyBasket()" class="btn btn-danger btn-sm" onclick="return confirmDel();">
          <span class="glyphicon glyphicon-trash"></span> CancelOrder</a>
      </p>
  </div>  
  <div class="col-md-6">
      <p class="text-right">
          <a href="@routes.ShoppingCtrl.placeOrder()" class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-euro"></span> Place Order</a>
      </p>
  </div>  
</div>
</div>
}